.grid-container {
    margin: 1% auto;
  }
  
  .grid {
    white-space: normal;
  }
  
  button {
    margin: 10px;
  }
.nav-item{
  color: brown;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 55px;
  background-color: #333;
  color: rgb(242, 10, 10);
}
  
.hippo-info{
  display:none; 
  position:absolute; 
  top:50px; 
  left:50px; 
  width:300px;
  background-color:white;
  border:1px solid black;
  padding:10px;


}
  